body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/**
  |============================
  | GENERAL PAGE
  |============================
*/
/**
  |============================
  | BASE STYLES
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
:root {
  /* background-color */
  --primary-bg-color: #ffffff;
  --hero-btm-bg-color: #4d5ae5;
  --hero-btm-bg-hover: #404bbf;
  --hero-bg-color: #2e2f42;
  --team-section-bg-color: #f4f4fd;
  --footer-bg-color: #2e2f42;
  --portfolio-bg-btm-color: #f4f4fd;
  --portfolio-bg-btm-hover: #404bbf;
  /* color text */
  --hover-portfolio-btm-color: #ffffff;
  --footer-logo-color: #f4f4fd;
  --hero-text-color: #ffffff;
  --primary-color: #434455;
  --logo-color: #4d5ae5;
  --logo-color-studio: #2e2f42;
  --text-color-links: #2e2f42;
  --hover-color-text-link: #404bbf;
  --secondary-text-color: #2e2f42;
  --portfolio-btm-text-color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
}
.logo {
}
.section-btn {
}
/**
  |============================
  | HEADER SECTION
  |============================
*/
.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
/* LOGO */
.header-nav-logo {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
  margin-right: 76px;

  /* text */
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
}
.header-logo-studio {
  color: var(--logo-color-studio);
}

/* MENU */
.header-nav-menu {
  display: flex;
  gap: 40px;
}

.header-nav-menu a {
  display: block;
}

.nav-menu .header-nav-link {
  padding-bottom: 24px;
  padding-top: 24px;
}

.header-nav-link {
  /* text */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-links);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover-color-text-link);
}

/* CONTACTS */
.header-contacts {
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-contacts-list .header-contact-link {
  /* text */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.header-contacts-list a {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--hover-color-text-link);
}

/**
  |============================
  | MAIN SECTION
  |============================
*/

.hero {
  background-color: var(--hero-bg-color);
  width: 1440px;
  height: 600px;
  align-items: center;
}

.hero-title {
  /* text */
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--hero-text-color);
}

.hero-btn {
  display: inline-block;
  cursor: pointer;
  padding: 16px 32px;
  margin-top: 48px;

  /* text */
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--hero-text-color);
  background-color: var(--hero-btm-bg-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btm-bg-hover);
}

.section {
}

.section-title {
  /* text */
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.our-strengths {
}

.section-subtitle {
  /* text */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.section-text {
  /* text */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}
.section-team {
  background-color: var(--team-section-bg-color);
}
.team-list {
  background-color: var(--primary-bg-color);
}

/**
  |============================
  | FOOTER SECTION
  |============================
*/
.footer {
  background-color: var(--footer-bg-color);
}
.footer-logo {
  /* text */
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
}
.footer-logo-studio {
  color: var(--footer-logo-color);
}
.footer-text {
  color: var(--footer-logo-color);
}

/**
  |============================
  | Portfolio page
  |============================
*/

.portfolio-btm {
  /* text */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--portfolio-bg-btm-color);
  color: var(--portfolio-btm-text-color);

  cursor: pointer;
}

.portfolio-btm:hover,
.portfolio-btm:focus {
  background-color: var(--portfolio-bg-btm-hover);
  color: var(--hover-portfolio-btm-color);
}
